<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>2E052A92-15A4-46E3-9177-7BBF59537DF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C061869-C792-43C5-86E1-2D946A60C0A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andy Jiang</string>
	<key>description</key>
	<string>Yo! with Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yo!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>TOKEN=e919b833-e89c-401a-91b7-13a953819385
curl --data "api_token=$TOKEN&amp;username={query}" http://api.justyo.co/yo/</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C061869-C792-43C5-86E1-2D946A60C0A3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>yo!</string>
				<key>text</key>
				<string>Yo! someone.</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2E052A92-15A4-46E3-9177-7BBF59537DF3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2E052A92-15A4-46E3-9177-7BBF59537DF3</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>9C061869-C792-43C5-86E1-2D946A60C0A3</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.andyjiang.com</string>
</dict>
</plist>
