<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Andy Jiang</string>
	<key>description</key>
	<string>Yo! with Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yo!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>yo!</string>
				<key>script</key>
				<string>TOKEN=adsf
curl --data "api_token=$TOKEN&amp;username={query}" http://api.justyo.co/yo/</string>
				<key>title</key>
				<string>Yo! with Alfred.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>11F9D52C-541E-40AB-8BFF-1249C879662C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11F9D52C-541E-40AB-8BFF-1249C879662C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.andyjiang.com</string>
</dict>
</plist>
